In [25]:
import requests
import json
import pandas as pd

In [9]:
res = requests.get('http://api.open-notify.org/astros.json')

In [3]:
print(res.status_code)

200

In [4]:
 print(res.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Tue, 29 Nov 2022 20:18:33 GMT', 'Content-Type': 'application/json', 'Content-Length': '623', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [22]:
json_response = res.json()
json_response

{'people': [{'craft': 'Tiangong', 'name': 'Cai Xuzhe'},
  {'craft': 'Tiangong', 'name': 'Chen Dong'},
  {'craft': 'Tiangong', 'name': 'Liu Yang'},
  {'craft': 'ISS', 'name': 'Sergey Prokopyev'},
  {'craft': 'ISS', 'name': 'Dmitry Petelin'},
  {'craft': 'ISS', 'name': 'Frank Rubio'},
  {'craft': 'ISS', 'name': 'Nicole Mann'},
  {'craft': 'ISS', 'name': 'Josh Cassada'},
  {'craft': 'ISS', 'name': 'Koichi Wakata'},
  {'craft': 'ISS', 'name': 'Anna Kikina'},
  {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
  {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
  {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}],
 'number': 13,
 'message': 'success'}

In [23]:
data = json_response['people']
data

[{'craft': 'Tiangong', 'name': 'Cai Xuzhe'},
 {'craft': 'Tiangong', 'name': 'Chen Dong'},
 {'craft': 'Tiangong', 'name': 'Liu Yang'},
 {'craft': 'ISS', 'name': 'Sergey Prokopyev'},
 {'craft': 'ISS', 'name': 'Dmitry Petelin'},
 {'craft': 'ISS', 'name': 'Frank Rubio'},
 {'craft': 'ISS', 'name': 'Nicole Mann'},
 {'craft': 'ISS', 'name': 'Josh Cassada'},
 {'craft': 'ISS', 'name': 'Koichi Wakata'},
 {'craft': 'ISS', 'name': 'Anna Kikina'},
 {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
 {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
 {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}]

In [26]:
df = pd.DataFrame(data)
df

          craft              name
0      Tiangong         Cai Xuzhe
1      Tiangong         Chen Dong
2      Tiangong          Liu Yang
3           ISS  Sergey Prokopyev
4           ISS    Dmitry Petelin
5           ISS       Frank Rubio
6           ISS       Nicole Mann
7           ISS      Josh Cassada
8           ISS     Koichi Wakata
9           ISS       Anna Kikina
10  Shenzhou 15       Fei Junlong
11  Shenzhou 15     Deng Qingming
12  Shenzhou 15          Zhang Lu