apples      NaN
cherries    NaN
cirese      NaN
mere        NaN
oranges     NaN
pears       NaN
pere        NaN
portocale   NaN
dtype: float64

In [6]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

labels = pd.Series(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l'])
df = pd.DataFrame(exam_data)
df = df.set_index(labels)
print(df)


df.head(3)
m=df[['name','score']]
print(m)
df = df.drop('attempts',axis=1)
print(df)
J= df['score'].values
k=[]
for i in J:
    if i > 10 :
        k.append(1)
    else :
        k.append(0)
df['scusses'] = k
print(df)
df.to_csv('my_data')

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    NaN       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    NaN       1.0      no
i      Kevin    8.0       NaN     NaN
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
k      Elias   20.0
l     Myriam   16.0
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0     NaN
j      Jonas   19.0     yes
k      Elias   20.0     yes
l     Myriam   16.0     yes
        name  score qualify  scusses
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
d      James    NaN      no        0
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
h      Laura    NaN      no        0
i      Kevin    8.0     NaN        0
j      Jonas   19.0     yes        1
k      Elias   20.0     yes        1
l     Myriam   16.0     yes        1