In [20]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
df =df = pd.DataFrame(exam_data, index = labels)
print(df.isnull().sum())
print(df.isnull())
df['attempts'].fillna(df['attempts'].median(),inplace=True)
df['score'].fillna(df['score'].mean(),inplace= True)
df['qualify'].fillna('no',inplace= True)
print(df.isnull().sum())
print(df)
encoder = LabelEncoder()
df['name']=encoder.fit_transform(df['name'])
one_hot=pd.get_dummies(df['qualify'])
df = df.drop('qualify',axis=1)
df = df.join(one_hot)
print(df)

name        0
score       2
attempts    1
qualify     1
dtype: int64
    name  score  attempts  qualify
a  False  False     False    False
b  False  False     False    False
c  False  False     False    False
d  False   True     False    False
e  False  False     False    False
f  False  False     False    False
g  False  False     False    False
h  False   True     False    False
i  False  False      True     True
j  False  False     False    False
k  False  False     False    False
l  False  False     False    False
name        0
score       0
attempts    0
qualify     0
dtype: int64
        name  score  attempts qualify
a  Anastasia  12.50       1.0     yes
b       Dima   9.00       3.0      no
c  Katherine  16.50       2.0     yes
d      James  14.45       3.0      no
e      Emily   9.00       2.0      no
f    Michael  20.00       3.0     yes
g    Matthew  14.50       1.0     yes
h      Laura  14.45       1.0      no
i      Kevin   8.00       2.0      no
j      Jonas  19.00       1.0     yes
k      Elias  20.00       3.0     yes
l     Myriam  16.00       2.0     yes
   name  score  attempts  no  yes
a     0  12.50       1.0   0    1
b     1   9.00       3.0   1    0
c     6  16.50       2.0   0    1
d     4  14.45       3.0   1    0
e     3   9.00       2.0   1    0
f    10  20.00       3.0   0    1
g     9  14.50       1.0   0    1
h     8  14.45       1.0   1    0
i     7   8.00       2.0   1    0
j     5  19.00       1.0   0    1
k     2  20.00       3.0   0    1
l    11  16.00       2.0   0    1