In [2]:
import pandas as pd
df = pd.read_csv('C:/Users/boti/Downloads/titanic-passengers.csv',sep=';')
#a)
print(df.head()) 
print(df.info())
print(df.tail())
#b)
print(df.isnull())
print(df.isnull().sum())

   PassengerId Survived  Pclass                                         Name  \
0          343       No       2                   Collander, Mr. Erik Gustaf
1           76       No       3                      Moen, Mr. Sigurd Hansen
2          641       No       3                       Jensen, Mr. Hans Peder
3          568       No       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)
4          672       No       1                       Davidson, Mr. Thornton

      Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked
0    male  28.0      0      0      248740  13.0000    NaN        S
1    male  25.0      0      0      348123   7.6500  F G73        S
2    male  20.0      0      0      350050   7.8542    NaN        S
3  female  29.0      0      4      349909  21.0750    NaN        S
4    male  31.0      1      0  F.C. 12750  52.0000    B71        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB
None
     PassengerId Survived  Pclass  \
886           10      Yes       2
887           61       No       3
888          535       No       3
889          102       No       3
890          428      Yes       2

                                                  Name     Sex   Age  SibSp  \
886                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
887                              Sirayanian, Mr. Orsen    male  22.0      0
888                                Cacic, Miss. Marija  female  30.0      0
889                   Petroff, Mr. Pastcho ("Pentcho")    male   NaN      0
890  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.0      0

     Parch  Ticket     Fare Cabin Embarked
886      0  237736  30.0708   NaN        C
887      0    2669   7.2292   NaN        C
888      0  315084   8.6625   NaN        S
889      0  349215   7.8958   NaN        S
890      0  250655  26.0000   NaN        S
     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False  False  False  False   False
889        False     False   False  False  False   True  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False   True     False
4    False  False     False
..     ...    ...       ...
886  False   True     False
887  False   True     False
888  False   True     False
889  False   True     False
890  False   True     False

[891 rows x 12 columns]
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
print(df['Cabin'].value_counts())
print(df['Embarked'].value_counts())
df['Cabin'].fillna('G6',inplace=True)
df['Embarked'].fillna('S',inplace=True)
df['Age'].fillna(df['Age'].mean(),inplace = True)
print(df.isnull().sum())

G6             691
C23 C25 C27      4
B96 B98          4
D                3
C22 C26          3
              ...
D45              1
F G63            1
A34              1
C85              1
E63              1
Name: Cabin, Length: 147, dtype: int64
S    646
C    168
Q     77
Name: Embarked, dtype: int64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Survived']=encoder.fit_transform(df['Survived'])
df['Embarked']=encoder.fit_transform(df['Embarked'])
df['Sex']=encoder.fit_transform(df['Sex'])
df['Name']=encoder.fit_transform(df['Name'])
one_hot= pd.get_dummies(df['Ticket'])
df= df.drop('Ticket',axis=1)
df=df.join(one_hot)
one_hot1= pd.get_dummies(df['Cabin'])
df= df.drop('Cabin',axis=1)
df=df.join(one_hot1)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Columns: 838 entries, PassengerId to T
dtypes: float64(2), int32(4), int64(4), uint8(828)
memory usage: 776.3 KB
None

In [10]:
print(df.head())

   PassengerId  Survived  Pclass  Name  Sex   Age  SibSp  Parch     Fare  \
0          343         0       2   170    1  28.0      0      0  13.0000
1           76         0       3   546    1  25.0      0      0   7.6500
2          641         0       3   397    1  20.0      0      0   7.8542
3          568         0       3   627    0  29.0      0      4  21.0750
4          672         0       1   202    1  31.0      1      0  52.0000

   Embarked  ...  E8  F E69  F G63  F G73  F2  F33  F38  F4  G6  T
0         2  ...   0      0      0      0   0    0    0   0   1  0
1         2  ...   0      0      0      1   0    0    0   0   0  0
2         2  ...   0      0      0      0   0    0    0   0   1  0
3         2  ...   0      0      0      0   0    0    0   0   1  0
4         2  ...   0      0      0      0   0    0    0   0   0  0

[5 rows x 838 columns]