In [2]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [3]:
x=input('donner un nombre ')
print(len(x))

donner un nombre 75813
5

In [6]:
n = int(input('donner un nombre '))
def cube(x):
    y=x**3
    return y
print(cube(n))

donner un nombre 2
8

In [9]:
x = int(input('donner le premier nombre '))
y = int(input('donner le second nombre '))
def number(a,b):
    if a * b <=1000 :
        return a*b
    else:
        return a+b
print (number(x,y))

donner le premier nombre 9
donner le second nombre 15
135

In [11]:
n = int(input('donner la langeur de la liste'))
List = []
for i in range (n):
    x= int(input('donner les nombres un à un '))
    List.append(x)
if List[0]== List[n-1]:
    print('True')
else :
    print('False')

donner la langeur de la liste6
donner les nombres un à un 1
donner les nombres un à un 2
donner les nombres un à un 3
donner les nombres un à un 4
donner les nombres un à un 5
donner les nombres un à un 6
False

In [12]:
list1 =  [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]

def odd_and_even (a,b):
    List =[]
    for i in a :
        if i % 2 != 0 :
            List.append(i)
    for j in b :
        if j % 2 ==0 :
            List.append(j)
    return List
print(odd_and_even(list1,list2))

[23, 11, 17, 24, 36, 12]

In [13]:
List = [11, 45, 8, 11, 23, 45, 23, 45, 89]
def dic(List):
    dic={}
    
    a = []
    b = []

    for j in List:
        if j not in a:
            a.append(j)
    for i in a :
        k=0
        for j in List:
            if i == j :
                k += 1
        b.append(k)
    for y in range (len(a)) :
        dic[a[y]]=b[y]
    return dic
print(dic(List))

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
c = {65, 42, 78, 83, 23, 57, 29}
d = {67, 73, 43, 48, 83, 57, 29}
def sete(a,b):
    set1=set()
    for i in b:
        if i in a:
            set1.add(i)
    for j in set1 :
        a.remove(j)
    return (a , set1)
print(sete( c, d))